// Define variables for your color scheme

// For example:
$tangerine: #E29578;
$caribbean : #006D77;
$alice-blue: #F5FDFF;
$pale:  #FFDDD2;
$tiffany-blue: #83C5BE;
$gray1: #F2F2F2;
$gray2: #CCCCCC;
$gray3: #A5A5A5;
$gray4: #7F7F7F;
$black: #1D1D1D;
