.banner-footer {
  background-color: var(--caribbean);
  position: fixed;
  max-height: 90px;
  position: relative;
  align-items: center;
  display: flex;
}

.logo-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo.size {
  height: 70px;
}

.rs-wrapper {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
}
