.form-bar-outer {
  height: 0.5rem;
  background-color: var(--alice-blue);
  width: 100%;
  position: fixed;
  top: 5.1rem;
}

.form-bar-inner {
  height: 100%;
  background-color: var(--caribbean);
  width: 20%;
  border-radius: 0 40rem 40rem 0;
}

.form-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10rem;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.form-step3 {
  padding: 0px 0px;
  margin-top: 16px;
}

.question-form-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 632px;
}


.question-form-wrap.question-4 {
  max-width: 950px;
}

.question-form-wrap-step3 {
  max-width: 800px;
}


.question-form-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}

.question-form-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  width: 100%;
}

.form-row {
  width: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}


.input-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-field {
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  height: 48px;
  max-height: 48px;
  border: 1px solid var(--grey-2);
  border-radius: 0.25rem;
  padding: 0 1rem;
  color: var(--grey-4);
}

.input-field-step3 {
  flex-grow: none;
  margin-right: 1px;
  margin-left: 1px;
}

.input-field-step3-submit {
  flex-grow: none;
  margin-right: 1px;
  margin-left: 1px;
  background-color:var(--tiffany-blue);
  color: white;
}

.gap-input {
  gap: 16px;
}

.input-field:focus {
  border: 1px solid var(--caribbean);
}

.form-label {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--black);
  font-weight: 500;
}

.form-navigation {
  position: fixed;
  bottom: 40px;
  width: 100%;
  left: 0;
}

.form-navigation-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.children-placeholder {
  flex-grow: 1;
  width: 100%;
  height: 180px;
  border: 1px solid var(--caribbean);
  border-radius: 0.25rem;
  padding: 0 1rem;
  color: var(--caribbean);
  background-color: var(--alice-blue);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

.children-placeholder-text {
  position: absolute;
  text-align: center;
}

.children-wrapper {
  flex-grow: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.child-card {
  border: 1px solid var(--caribbean);
  border-radius: 0.25rem;
  padding: 24px;
  background-color: white;
}


.button-form {
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--tiffany-blue);
  background-color: var(--tiffany-blue);
  color: var(--white);
  transition: background-color 0.3s ease;
}

.button-form:hover {
  background-color: var(--caribbean);
}

.button-form-icon {
  padding: 0.5rem;
  font-size: 12px;
  background-color: var(--caribbean);
}

.button-form-icon:hover {
  background-color: var(--tiffany-blue);
}

.position-absolute {
  position: absolute;
  top: 12px;
  right: 12px;
}

.position-relative {
  position: relative;
}

.step4-wrapper {
  margin-top: 40px;
  gap: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.room-card {
  width: 50%;
  height: 310px;
  min-height: 100%;
  border: 1px solid var(--caribbean);
  border-radius: 0.25rem;
  padding: 0 1rem;
  color: var(--caribbean);
  background-color: var(--alice-blue);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.room-wrapper {
  width: 120px;
}

.room-input {
  font-size: 67px;
  font-weight: 600;
  color: var(--caribbean);
}

.incrementation-btn {
  background-color: var(--tiffany-blue);
  border: var(--tiffany-blue);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: auto 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}



.incrementation-text {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--caribbean);
  font-weight: 600;
}

.furnish-wrapper {
  width: 50%;
}


.form-next-button {
  padding: 12px 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--caribbean);
  gap: 8px;
  background-color: var(--caribbean);
  color: var(--white);
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 40px;
  right: 80px;
}

.form-previous-button {
  position: fixed;
  bottom: 40px;
  left: 80px;
}


.form-next-button:hover {
  background-color: #00383D;
}

.text-area-field {
  height: 15rem;
  padding: 1rem;
}

legend {
  display: none;
}


.category-selector {
  position: absolute;
  transform: scale(0);
}


.form-check {
  display: flex;
  flex-direction: row;
}

.alternance-radio-wrap {
  display: flex;
}

.alternance-radio-wrap fieldset {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--alice-blue);
  flex-grow: 0;
  margin: 0 auto;
}

.form-check {
  padding: 0;
  flex-grow: 1;
}

#user_intake_user_shift_alternance_even, #user_intake_user_shift_alternance_odd, #user_intake_user_shift_rythm_all_week, #user_intake_user_shift_rythm_week-days, #user_intake_user_shift_rythm__week-ends, #flat_intake_room_furnished_is_furnished_true, #flat_intake_room_furnished_is_furnished_false {
  position: absolute;
  transform: scale(0);
}

#user_intake_user_shift_alternance_even + label {
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 0.25rem;
  background-color: var(--alice-blue);
  color: var(--caribbean);
  font-weight: 500;
  text-align: center;
}

#user_intake_user_shift_alternance_even:checked + label {

  background-color: var(--caribbean);
  color: var(--white);
}

#user_intake_user_shift_alternance_odd + label {
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 0.25rem;
  background-color: var(--alice-blue);
  color: var(--caribbean);
  font-weight: 500;
  text-align: center;
}

#user_intake_user_shift_alternance_odd:checked + label {

  background-color: var(--caribbean);
  color: var(--white);
}

.rythm-radio-wrap {
  margin-top: 1.5rem;
}

.rythm-radio-wrap fieldset {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

#user_intake_user_shift_rythm_all_week + label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px 24px;
  border-radius: 0.25rem;
  border: 1px solid var(--grey-2);
  height: 145px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Quicksand";
  color: var(--black);
}

#user_intake_user_shift_rythm_all_week:checked + label {
  border: 1px solid var(--caribbean);
}

#user_intake_user_shift_rythm_all_week:hover + label {
  border: 1px solid var(--caribbean);
}

#user_intake_user_shift_rythm_week-days + label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px 24px;
  border-radius: 0.25rem;
  border: 1px solid var(--grey-2);
  height: 145px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Quicksand";
  color: var(--black);
}

#user_intake_user_shift_rythm_week-days:checked + label {
  border: 1px solid var(--caribbean);
}

#user_intake_user_shift_rythm_week-days:hover + label {
  border: 1px solid var(--caribbean);
}

#user_intake_user_shift_rythm__week-ends + label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 0.25rem;
  text-align: center;
  border: 1px solid var(--grey-2);
  height: 145px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Quicksand";
  color: var(--black);
}

#user_intake_user_shift_rythm__week-ends:checked + label {
  border: 1px solid var(--caribbean);
}

#user_intake_user_shift_rythm__week-ends:hover + label {
  border: 1px solid var(--caribbean);
}

.radio-description {
font-size: 1rem;
font-weight: 400;
color: var(--grey-4);
font-family: 'Inter', sans-serif;
}

#flat_intake_room_furnished_is_furnished_true + label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 0.25rem;
  text-align: center;
  border: 1px solid var(--grey-2);
  height: 145px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Quicksand";
  color: var(--caribbean);
}


#flat_intake_room_furnished_is_furnished_true:checked + label {
  border: 1px solid var(--caribbean);
}

#flat_intake_room_furnished_is_furnished_true:hover + label {
  border: 1px solid var(--caribbean);
}

#flat_intake_room_furnished_is_furnished_false + label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 0.25rem;
  text-align: center;
  border: 1px solid var(--grey-2);
  height: 145px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Quicksand";
  color: var(--caribbean);
  margin-top: 1rem;
}


#flat_intake_room_furnished_is_furnished_false:checked + label {
  border: 1px solid var(--caribbean);
}

#flat_intake_room_furnished_is_furnished_false:hover + label {
  border: 1px solid var(--caribbean);
}

#flat_style_scandinavian + label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 0.25rem;
  text-align: center;
  border: 1px solid var(--grey-2);
  height: 145px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Quicksand";
  color: var(--caribbean);
  margin-top: 1rem;
}

#flat_style_scandinavian:checked + label {
  border: 1px solid var(--caribbean);
}

#flat_style_scandinavian:hover + label {
  border: 1px solid var(--caribbean);
}

#flat_style_industrial + label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  border: 1px solid var(--grey-2);
  height: 145px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Quicksand";
  color: var(--caribbean);
  margin-top: 1rem;
}

#flat_style_industrial:checked + label {
  border: 1px solid var(--caribbean);
}

#flat_style_industrial:hover + label {
  border: 1px solid var(--caribbean);
}

#flat_style_bohemian + label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 0.25rem;
  text-align: center;
  border: 1px solid var(--grey-2);
  height: 145px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Quicksand";
  color: var(--caribbean);
  margin-top: 1rem;
}

#flat_style_bohemian:checked + label {
  border: 1px solid var(--caribbean);
}

#flat_style_bohemian:hover + label {
  border: 1px solid var(--caribbean);
}

#flat_style_art_deco + label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 0.25rem;
  text-align: center;
  border: 1px solid var(--grey-2);
  height: 145px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Quicksand";
  color: var(--caribbean);
  margin-top: 1rem;
}

#flat_style_art_deco:checked + label {
  border: 1px solid var(--caribbean);
}

#flat_style_art_deco:hover + label {
  border: 1px solid var(--caribbean);
}

#flat_style_vintage + label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 0.25rem;
  text-align: center;
  border: 1px solid var(--grey-2);
  height: 145px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Quicksand";
  color: var(--caribbean);
  margin-top: 1rem;
}

#flat_style_vintage:checked + label {
  border: 1px solid var(--caribbean);
}

#flat_style_vintage:hover + label {
  border: 1px solid var(--caribbean);
}

#flat_style_no_opinion + label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 0.25rem;
  text-align: center;
  border: 1px solid var(--grey-2);
  height: 145px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Quicksand";
  color: var(--caribbean);
  margin-top: 1rem;
}

#flat_style_no_opinion:checked + label {
  border: 1px solid var(--caribbean);
}

#flat_style_no_opinion:hover + label {
  border: 1px solid var(--caribbean);
}

#flat_style_no_opinion, #flat_style_scandinavian, #flat_style_bohemian, #flat_style_industrial, #flat_style_vintage, #flat_style_art_deco {
  position: absolute;
  transform: scale(0);
}

.step10-wrapper {
  margin-top: 40px;
}

.style_wrapper {
  gap: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.style-size {
  height: 90px;
  width: 100%;
  object-fit: cover;
  margin-top: 2px;
  margin-bottom: 1px;
}

.map-wrap {
  width: 100%;
  height: 369px;
  overflow: hidden;
  border-radius: 0.25;
  position: relative;
  background-color: var(--alice-blue);
  padding: 1rem;
}

.mapboxgl-ctrl-top-right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapboxgl-ctrl-geocoder {
  width: 100%;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 0 !important;
  padding: 1rem;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl input {
  width: 100%;
  height: 48px;
  border: 1px solid var(--grey-2);
  border-radius: 0.25rem;
  padding: 1rem;
  font-size: 1rem;
  color: var(--grey-4);
}

.suggestions-wrapper {
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  height: auto;
}

.geocoder-pin-right {
  display: none;
}


.suggestions-wrapper li {
 padding: 0.5rem;
 cursor: pointer;
}

.suggestions-wrapper li:hover {
  background-color: var(--alice-blue);
 }


 .range-input-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--black);
  font-weight: 500;
 }

 .range-input-wrap p {
  color: var(--black);
  font-weight: 500;
 }


 .input-range {
  min-width: 416px;
  height: 1rem;
  border-radius: 100rem;
 }

 input[type=range].input-range {
  -webkit-appearance: none;
  padding: 0;
  font: inherit;
  outline: none;
  color: var(--caribbean);
  opacity: .8;
  background: var(--alice-blue);
  box-sizing: border-box;
  transition: opacity .2s;
  cursor: pointer;
}





input[type=range]#user_intake_user_personality_cleanliness::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100rem;
  background: var(--caribbean);
  transform: translateY(-22%);
}

input[type=range]#user_intake_user_personality_lifestyle::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100rem;
  background: var(--caribbean);
  transform: translateY(-22%);
}

input[type=range]#user_intake_user_personality_storage::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100rem;
  background: var(--caribbean);
  transform: translateY(-22%);
}


input[type=range]#user_intake_user_personality_cooking::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100rem;
  background: var(--caribbean);
  transform: translateY(-22%);
}

input[type=range]#user_intake_user_personality_sharing::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100rem;
  background: var(--caribbean);
  transform: translateY(-22%);
}


.user_intake_user_personality_cleanliness, .user_intake_user_personality_lifestyle, .user_intake_user_personality_sharing, .user_intake_user_personality_cooking, .user_intake_user_personality_storage {
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
}


#user_intake_user_personality_cleanliness, #user_intake_user_personality_lifestyle, #user_intake_user_personality_sharing, #user_intake_user_personality_cooking, #user_intake_user_personality_storage {
  min-width: 416px;
  height: 1rem;
  border-radius: 100rem;
}


.ranges-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
