// Specific CSS for your home-page
.custom-input {
  color: var(--grey-4);
}

.banner-home {
  background-size: cover;
  background-position: top;
  background: linear-gradient( rgba(0, 0, 0, 0.5) );
  padding: 150px 0;
  margin-top: 30px;
}

.banner-home h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-home p {
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-wrapper {
  width: 100%;
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  flex-direction: row;
  gap: 1rem;
  align-items: stretch;
  margin: 0 auto;
  margin-top: 1rem;
}

.search-wrapper.is-hero {
  width: 632px;
  max-width: none;
  gap: 0.5rem;
}

.home-block-wrapper {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.text-card {
  max-width: 570px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.text-card-right {
  max-width: 570px;
  padding-left: 24px;
}

.image-frame {
  width: 70rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
}

.image-height {
  width: 100%;
  position: relative;
  padding-top: 80%;
}

.absolute-img {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cleanliness-range::-webkit-slider-thumb,
#cooking-range::-webkit-slider-thumb {
  background: #006d77;
}

#cleanliness-range::-moz-range-thumb,
#cooking-range::-moz-range-thumb {
  background: #006d77;
}

.refine-reset-buttons {
  display: flex;
  justify-content: space-around;
}


.hero-wrap {
  width: 100%;
  height: 100vh;
  background-color: var(--caribbean);
  display: flex;
  align-items: center;
  position: relative;
}

.home-hero-header {
  max-width: 523px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75rem;
}

.home-hero-span {
  color: var(--caribbean);
  background-image: asset-url("Rectangle 6.svg");
  padding: 0px 12px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.25rem;
}

.home-hero-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-img-frame {
  width: 446px;
  border-radius: 12px;
  .hero-img-height {
    border-radius: 12px;
    width: 100%;
    position: relative;
    padding-top: 114%;
    background-color: var(--tangerine);
  }
  .hero-ui-left {
    position: absolute;
    z-index: 4;
    left: 0;
    top: 0;
    transform: translateX(-50%);
    content: url("data:image/svg+xml,%3Csvg width='259' height='200' viewBox='0 0 259 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_2404_1748)'%3E%3Crect x='30' y='26' width='199' height='140' rx='4' fill='white'/%3E%3Cpath d='M105.196 139.25C104.94 139.25 104.731 139.169 104.568 139.006C104.405 138.831 104.324 138.616 104.324 138.36V130.964C104.324 130.708 104.405 130.499 104.568 130.336C104.731 130.161 104.94 130.074 105.196 130.074C105.44 130.074 105.644 130.161 105.807 130.336C105.981 130.499 106.068 130.708 106.068 130.964V132.918L105.894 132.167C105.987 131.842 106.127 131.539 106.313 131.26C106.51 130.981 106.743 130.737 107.01 130.528C107.278 130.318 107.574 130.155 107.9 130.039C108.237 129.923 108.586 129.865 108.947 129.865C109.249 129.865 109.511 129.946 109.732 130.109C109.953 130.272 110.063 130.475 110.063 130.719C110.063 131.033 109.982 131.266 109.819 131.417C109.656 131.557 109.476 131.627 109.278 131.627C109.104 131.627 108.935 131.592 108.772 131.522C108.61 131.441 108.418 131.4 108.197 131.4C107.952 131.4 107.702 131.464 107.447 131.592C107.191 131.72 106.958 131.912 106.749 132.167C106.539 132.412 106.371 132.702 106.243 133.04C106.127 133.377 106.068 133.755 106.068 134.174V138.36C106.068 138.616 105.981 138.831 105.807 139.006C105.644 139.169 105.44 139.25 105.196 139.25ZM120.016 134.662C120.016 135.592 119.812 136.418 119.405 137.139C118.998 137.849 118.446 138.407 117.748 138.814C117.05 139.221 116.265 139.424 115.393 139.424C114.521 139.424 113.736 139.221 113.038 138.814C112.34 138.407 111.782 137.849 111.363 137.139C110.956 136.418 110.752 135.592 110.752 134.662C110.752 133.72 110.956 132.894 111.363 132.185C111.782 131.464 112.34 130.9 113.038 130.493C113.736 130.074 114.521 129.865 115.393 129.865C116.265 129.865 117.05 130.074 117.748 130.493C118.446 130.9 118.998 131.464 119.405 132.185C119.812 132.894 120.016 133.72 120.016 134.662ZM118.271 134.662C118.271 134.022 118.143 133.47 117.887 133.005C117.632 132.528 117.283 132.156 116.841 131.888C116.41 131.609 115.928 131.47 115.393 131.47C114.858 131.47 114.369 131.609 113.927 131.888C113.486 132.156 113.137 132.528 112.881 133.005C112.625 133.47 112.497 134.022 112.497 134.662C112.497 135.278 112.625 135.825 112.881 136.302C113.137 136.779 113.486 137.151 113.927 137.418C114.369 137.686 114.858 137.82 115.393 137.82C115.928 137.82 116.41 137.686 116.841 137.418C117.283 137.151 117.632 136.779 117.887 136.302C118.143 135.825 118.271 135.278 118.271 134.662ZM130.782 134.662C130.782 135.592 130.579 136.418 130.172 137.139C129.765 137.849 129.212 138.407 128.515 138.814C127.817 139.221 127.032 139.424 126.16 139.424C125.287 139.424 124.502 139.221 123.804 138.814C123.107 138.407 122.548 137.849 122.13 137.139C121.723 136.418 121.519 135.592 121.519 134.662C121.519 133.72 121.723 132.894 122.13 132.185C122.548 131.464 123.107 130.9 123.804 130.493C124.502 130.074 125.287 129.865 126.16 129.865C127.032 129.865 127.817 130.074 128.515 130.493C129.212 130.9 129.765 131.464 130.172 132.185C130.579 132.894 130.782 133.72 130.782 134.662ZM129.038 134.662C129.038 134.022 128.91 133.47 128.654 133.005C128.398 132.528 128.049 132.156 127.607 131.888C127.177 131.609 126.694 131.47 126.16 131.47C125.625 131.47 125.136 131.609 124.694 131.888C124.252 132.156 123.903 132.528 123.647 133.005C123.392 133.47 123.264 134.022 123.264 134.662C123.264 135.278 123.392 135.825 123.647 136.302C123.903 136.779 124.252 137.151 124.694 137.418C125.136 137.686 125.625 137.82 126.16 137.82C126.694 137.82 127.177 137.686 127.607 137.418C128.049 137.151 128.398 136.779 128.654 136.302C128.91 135.825 129.038 135.278 129.038 134.662ZM137.362 129.917C138.223 129.917 138.886 130.132 139.351 130.562C139.816 130.981 140.124 131.551 140.276 132.272L139.997 132.185L140.119 131.906C140.27 131.603 140.497 131.301 140.799 130.999C141.113 130.685 141.485 130.429 141.915 130.231C142.346 130.022 142.805 129.917 143.294 129.917C144.096 129.917 144.718 130.091 145.16 130.44C145.602 130.778 145.91 131.237 146.085 131.819C146.259 132.388 146.346 133.028 146.346 133.737V138.36C146.346 138.616 146.265 138.831 146.102 139.006C145.939 139.169 145.73 139.25 145.474 139.25C145.23 139.25 145.021 139.169 144.846 139.006C144.683 138.831 144.602 138.616 144.602 138.36V133.755C144.602 133.348 144.544 132.976 144.428 132.638C144.323 132.301 144.131 132.034 143.852 131.836C143.584 131.627 143.212 131.522 142.735 131.522C142.282 131.522 141.875 131.627 141.514 131.836C141.165 132.034 140.892 132.301 140.694 132.638C140.497 132.976 140.398 133.348 140.398 133.755V138.36C140.398 138.616 140.316 138.831 140.154 139.006C139.991 139.169 139.781 139.25 139.526 139.25C139.27 139.25 139.06 139.169 138.898 139.006C138.735 138.831 138.653 138.616 138.653 138.36V133.737C138.653 133.33 138.595 132.958 138.479 132.621C138.374 132.284 138.188 132.016 137.921 131.819C137.653 131.621 137.281 131.522 136.804 131.522C136.351 131.522 135.949 131.621 135.6 131.819C135.252 132.016 134.978 132.284 134.781 132.621C134.594 132.958 134.501 133.33 134.501 133.737V138.36C134.501 138.616 134.414 138.831 134.24 139.006C134.077 139.169 133.873 139.25 133.629 139.25C133.373 139.25 133.164 139.169 133.001 139.006C132.838 138.831 132.757 138.616 132.757 138.36V130.964C132.757 130.708 132.838 130.499 133.001 130.336C133.164 130.161 133.373 130.074 133.629 130.074C133.873 130.074 134.077 130.161 134.24 130.336C134.414 130.499 134.501 130.708 134.501 130.964V131.993L134.17 132.185C134.251 131.929 134.385 131.667 134.571 131.4C134.757 131.132 134.99 130.888 135.269 130.667C135.56 130.446 135.88 130.266 136.228 130.126C136.577 129.987 136.955 129.917 137.362 129.917ZM148.247 137.82C148.142 137.657 148.096 137.471 148.107 137.261C148.119 137.04 148.241 136.854 148.474 136.703C148.637 136.598 148.805 136.558 148.98 136.581C149.166 136.593 149.34 136.68 149.503 136.843C149.829 137.203 150.189 137.488 150.585 137.697C150.992 137.907 151.48 138.011 152.05 138.011C152.283 138 152.521 137.965 152.765 137.907C153.009 137.837 153.219 137.721 153.393 137.558C153.568 137.383 153.655 137.133 153.655 136.808C153.655 136.517 153.562 136.284 153.376 136.11C153.19 135.935 152.945 135.796 152.643 135.691C152.341 135.575 152.015 135.47 151.666 135.377C151.294 135.273 150.916 135.156 150.532 135.028C150.16 134.9 149.823 134.738 149.52 134.54C149.218 134.331 148.968 134.063 148.77 133.737C148.584 133.412 148.491 133.011 148.491 132.534C148.491 131.987 148.642 131.516 148.945 131.121C149.259 130.725 149.66 130.417 150.148 130.196C150.649 129.975 151.189 129.865 151.771 129.865C152.108 129.865 152.463 129.911 152.835 130.004C153.207 130.086 153.568 130.219 153.917 130.405C154.265 130.592 154.568 130.836 154.824 131.138C154.94 131.289 155.004 131.47 155.016 131.679C155.039 131.888 154.946 132.074 154.736 132.237C154.597 132.353 154.428 132.406 154.231 132.394C154.033 132.383 153.87 132.319 153.742 132.202C153.521 131.923 153.236 131.708 152.887 131.557C152.538 131.394 152.143 131.313 151.701 131.313C151.48 131.313 151.247 131.348 151.003 131.417C150.771 131.475 150.573 131.586 150.41 131.749C150.247 131.912 150.166 132.15 150.166 132.464C150.166 132.755 150.259 132.987 150.445 133.162C150.643 133.336 150.899 133.482 151.213 133.598C151.527 133.714 151.87 133.819 152.242 133.912C152.602 134.005 152.957 134.115 153.306 134.243C153.666 134.371 153.986 134.54 154.265 134.749C154.556 134.947 154.789 135.209 154.963 135.534C155.149 135.848 155.242 136.249 155.242 136.738C155.242 137.308 155.074 137.796 154.736 138.203C154.411 138.599 153.992 138.901 153.48 139.11C152.98 139.32 152.451 139.424 151.893 139.424C151.23 139.424 150.567 139.308 149.904 139.076C149.253 138.831 148.701 138.413 148.247 137.82Z' fill='%23006D77'/%3E%3Crect x='71.0215' y='79.1831' width='18.6338' height='18.6338' rx='9.3169' fill='%23006D77'/%3E%3Cg clip-path='url(%23clip0_2404_1748)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M75.9038 88.0566H84.7726V88.9435H75.9038V88.0566Z' fill='white'/%3E%3C/g%3E%3Cpath d='M138.904 103.162C139.598 103.162 140.17 103.405 140.621 103.89C141.106 104.341 141.349 104.914 141.349 105.607C141.349 106.301 141.106 106.873 140.621 107.324C140.17 107.775 139.598 108 138.904 108H120.645C119.882 108 119.276 107.775 118.825 107.324C118.374 106.873 118.148 106.266 118.148 105.503C118.148 104.809 118.391 104.185 118.877 103.63L130.477 91.0937C131.968 89.4984 133.113 87.9205 133.91 86.3599C134.743 84.7994 135.159 83.4295 135.159 82.2504C135.159 80.343 134.587 78.7998 133.442 77.6207C132.298 76.4416 130.789 75.852 128.916 75.852C128.119 75.852 127.304 76.0428 126.472 76.4243C125.674 76.771 124.911 77.2566 124.183 77.8808C123.489 78.4703 122.882 79.1639 122.362 79.9616C122.015 80.4471 121.668 80.7592 121.322 80.8979C120.975 81.0366 120.645 81.106 120.333 81.106C119.674 81.106 119.067 80.8806 118.513 80.4297C117.992 79.9442 117.732 79.3894 117.732 78.7651C117.732 78.2796 117.888 77.8114 118.201 77.3606C118.513 76.9098 118.911 76.4416 119.397 75.9561C120.16 75.0197 121.079 74.1874 122.154 73.4591C123.264 72.6962 124.425 72.1066 125.639 71.6905C126.853 71.2743 128.05 71.0663 129.229 71.0663C131.517 71.0663 133.494 71.5171 135.159 72.4188C136.858 73.3204 138.159 74.5862 139.06 76.2162C139.997 77.8461 140.465 79.7708 140.465 81.9903C140.465 83.863 139.893 85.9438 138.748 88.2326C137.638 90.4868 136.078 92.7063 134.066 94.8911L126.003 103.682L125.431 103.162H138.904Z' fill='%23006D77'/%3E%3Crect x='169.345' y='79.1831' width='18.6338' height='18.6338' rx='9.3169' fill='%23006D77'/%3E%3Cg clip-path='url(%23clip1_2404_1748)'%3E%3Cpath d='M178.305 88.8577V92.0764H179.02V88.8577H182.239V88.1425H179.02V84.9238L178.305 84.9238V88.1425H175.086V88.8577H178.305Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_2404_1748' x='0' y='0' width='259' height='200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='15'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2404_1748'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2404_1748' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_2404_1748'%3E%3Crect width='10.6426' height='10.6426' fill='white' transform='translate(75.0171 83.1788)'/%3E%3C/clipPath%3E%3CclipPath id='clip1_2404_1748'%3E%3Crect width='8.58309' height='8.58309' fill='white' transform='translate(174.371 84.2086)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  .hero-ui-right {
    position: absolute;
    z-index: 4;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
  }
}


.hero-arrow {
  position: absolute;
  left: 30rem;
  bottom: 9rem;
}

.hero-p {
  position: absolute;
  left: 18rem;
  bottom: 10rem;
  transform: rotate(-7deg);
  font-family: "Quicksand";
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
}


.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  max-height: none;
  height: 100%;
}



.form-control.custom-input.alternance {
  max-width: 15rem;
}

.search-wrapper .mapboxgl-ctrl-geocoder--input {
  height: 100%;
}

.home-detail-wrap {
  padding: 5rem 0rem;
}

.home-detail-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.home-detail-layout.is-1 {
  margin-bottom: 2.5rem;
}


.home-detail-img {
  width: 40rem;
}
