// Specific CSS for your home-page
.custom-input {
  color: #585C5E;
}

#cleanliness-range::-webkit-slider-thumb,
#cooking-range::-webkit-slider-thumb {
  background: #006d77;
}

#cleanliness-range::-moz-range-thumb,
#cooking-range::-moz-range-thumb {
  background: #006d77;
}

.refine-reset-buttons {
  display: flex;
  justify-content: space-around;
}
