.user-description {
  background-color: #F2F2F2;
  margin: 6em 0;
  border-radius: 5px;
  padding: 2em;

  .description-container {
    background-color: white;
    opacity: 0.7;
    padding: 1rem;
    border-radius: 5px;
  }

  h3 {
    margin: 1rem auto;
  }

  .budget {
  background-color: #83C5BE;
  border-radius: 50px;
  padding: 1rem;
  margin: 2rem 1rem;
  max-width: 10rem;
  text-align: center;
  color: white;
  font-weight: 700;
  }
  .children-user {
     margin-left: 3em;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }

  }
}


.child-container {
  width: 7rem;
  height: 7rem;
  background-color: #83C5BE;
  color: white;
  border-radius: 3px;
  position: relative;
  margin: 1rem;
  text-align: center;



  .child-gender-icon {
    position: absolute;
    color: #006D77;
    top: 0.4rem;
    left: 5rem;
    font-size: 1.5rem;
  }

  li {
    margin-top: 2rem;

  }

  .child-age-icon {
    color:#006D77;
    font-size: 1.5rem;
  }
}


.inner-bar{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #006D77;
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  // margin: 10px 0;
}

.outer-bar {
  width: 100%;
  height: 20px;
  background-color: #83C5BE;
  position: relative;
  border: 1px solid #006D77;
  border-radius: 5px;
  margin-bottom: 1rem;

}


.legend-bar.right {
  text-align: right;
}

.personnality-section {
  background-color: #F2F2F2;
  margin:0px;
  gap: 2rem;
  // margin: 6em 1em;
  border-radius: 5px;
  padding: 3em;
  h3 {
    margin: 1rem auto;
  }


  .personnality-tag {
    align-items: center;
    justify-content: center;
  }
  .icon {
    color: #83C5BE;
    margin:0 0.5em;

    padding: 0.5em 0;
  }
}

.ideal-flat {
  background-color: #F2F2F2;
  margin: 6em 0;
  border-radius: 5px;
  padding: 2em;
  h3 {
    margin: 1rem auto;
  }
// .image-style {
//   background-color: #F2F2F2;
// }

  h3{
    margin: 1rem 4rem;
    padding: 1rem;
  }

  img {
    width: 30vw;
    object-fit: cover;


  }
  .flat-style {
    position: relative;
  }
}


// Edgar Show


.show-banner-wrap {
  width: 100%;
  height: 300px;
  background-color: var(--caribbean);
  position: relative;
  display:flex;
  align-items: flex-end;
}

.show-banner-layout {
  position: relative;
}

.show-avatar-wrap {
  position: relative;
  transform: translateY(50%)
}


.show-avatar {
width: 112px;
height: 112px;
border-radius: 100%;
border: 3px solid var(--white);
object-fit: cover;
}

.show-top-layout {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}

.show-top-left {
  max-width: 524px;
}

.show-top-wrap {
  padding: 65px 0;
}

.show-name-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: left;
}

.show-stat-wrap {
margin-top: 1rem;
display: flex;
flex-direction: row;
gap: 1.5rem;
}

.show-stat-colum {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
}


.show-stat-icon-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  color: var(--black);
  flex-shrink: 0;
}

.show-btn-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.profile-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-card {
  padding: 2.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--grey-2);
  .profile-card-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .profile-card-family {
    margin-top: 2.5rem;
  }
  .profile-child-wrap {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: stretch;
  }
  .profile-child-item {
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: var(--tiffany-blue);
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .profile-child-left {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: flex-start;
    align-items: center;
  }
  .profile-child-tag {
    padding: 0.25rem 0.5rem;
    background-color: var(--white);
    border-radius: 0.25rem;
    color: var(--caribbean);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }
  .profile-range-wrap {
    display: flex;
    flex-direction: 2rem;
    gap: 2rem;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin-top: 2rem;
  }

  .profile-range-item {
    width: 100%;
  }

  .profile-range {
    width: 100%;
    height: 0.75rem;
    border-radius: 100rem;
    background-color: var(--tiffany-blue);
    position: relative;
  }
  .range-cursor {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background-color: var(--caribbean);
    position: absolute;
  }

  .range-cursor.is-1 {
    bottom: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .range-cursor.is-2 {
    bottom: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .range-cursor.is-3 {
    bottom: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .profile-range-label-wrap {
    width: 100%;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: var(--black);
  }
}


.profile-specs-wrap {
  padding: 2.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--grey-2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}



.specs-wrap {
  margin-top: 1rem;
}


.positive-perk {
  padding: 0.5rem 0.75rem;
  background-color: var(--caribbean);
  color: var(--white);
  border-radius: 100rem;
  flex-shrink: 0;
}

.negative-perk {
  padding: 0.5rem 0.75rem;
  background-color: var(--tangerine);
  color: var(--white);
  border-radius: 100rem;
  flex-shrink: 0;
}

.specs-tag-wrap, .specs-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.profile-specs-left {
  max-width: 800px;
}

.flat-style-img-frame {
  flex-grow: 1;
  overflow: hidden;
  border-radius: 0.25rem;
  max-width: 25rem;
}

.flat-style-img-height {
  position: relative;
  width: 100%;
  padding-top: 50%;
  background-color: var(--caribbean);
}


// Signup form


.singup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  .signup-outer {
    width: 874px;
    border-radius: 18px;
    background-color: var(--white);
    padding: 10px;
  }
  .signup-inner {
    width: 100%;
    background-color: var(--caribbean);
    border-radius: 0.5rem;
    padding: 80px 40px;
    position: relative;
    text-align: center;
  }
  .signup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }
  .signup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 436px;
  }
  .signup-pattern-left {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .signup-pattern-right {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.profile-wrap {
  padding-bottom: 65px;
}

.footer-show-wrap {
  background-color: var(--caribbean);
  padding: 5rem;
}
