  <div class="footer-wrap">
    <div class="container">
      <%= link_to "/" do %>
        <%= image_tag "logo_corent_white.svg", alt: "Corent logo" %>
      <% end %>
      <div class="footer-social-wrap">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-tiktok"></i>
      </div>
    <div>
  </div>
