<div class="banner-footer">
  <div class="logo-wrapper">
    <img class="logo-size" src="app/assets/images/logo_corent_white.svg" alt="logo_corent">
  </div>
  <div class="rs-wrapper">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-tiktok"></i>
  </div>
</div>
