<div class="form-slide">
  <div class="form-bar-outer">
    <div class="form-bar-inner"></div>
  </div>
  <div class="question-form-wrap">
    <div class="question-form-header">
      <p class= "text-color-blue text-weight-semibold text-style-allcaps text-size-small">Question 1 / 10</p>
      <div class="question-form-title">
        <h2 class="heading-style-h4">Let’s get to know each other!</h2>
        <p>Let's start with some basic information</p>
      </div>
    </div>
    <div class="form">
      <div class="form-row">
        <div class="input-wrap">

        </div>
        <div class="input-wrap">
          <label for="" class="form-label">First name</label>
          <input type="text" class="input-field">
        </div>
      </div>
    </div>
  </div>
</div>
