.mapboxgl-ctrl-geocoder {
  height: 36px;
  max-height: 36px;
  color: var(--grey-4);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  align-items: center;
}

.mapboxgl-ctrl-geocoder--input {
  height: 24px;
  color: var(--grey-4);
  padding: 6px 18px;
}

.mapboxgl-ctrl-geocoder--input:focus {
  border: none;
}
