.nav {
    padding: 16px 0;
    height: 5.1rem;
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-2);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    position: fixed;
}

.nav-layout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.avatar {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid var(--caribbean);
}

.md-nav {
  display: none;
}

@media (max-width: 767px) {
  .md-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    }

  .dd-nav {
    display: none !important;
  }

  .nav-layout-md {
    justify-content: space-between !important;
  }

  .btn-nav-dnone {
    display: none  !important;
  }
}
