.perk {
  border-radius: 4em;
  text-align: center;

  list-style: none;
  padding: 0.5em;
  color: white;
}

.negative-color {
  background-color: #E29578;
}

.positive-color {
  background-color: #006D77;
}
